body{
	 font-family: Montserrat,sans-serif;
	 margin:0;
	 padding:0;
	 }
a, ul, li, div, span, section, fa, header{
	 -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);}
audio,
canvas,
video {
    *display: inline;
    *zoom: 1
}
a{
text-decoration:none;
underline:none;
}
a:focus, a:hover{
text-decoration:none;
}
.form-control:focus{
    border-color: #222222;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
h2 {
    margin: .83em 0
}
h3 {
    margin: 1em 0
}
h4 {
    margin: 1.33em 0
}
h5 {
    margin: 1.67em 0
}
h6 {
    margin: 2.33em 0
}
code,
kbd,
pre,
samp {
    _font-family: Montserrat
}
pre {
    white-space: pre-wrap
}
q {
    quotes: none
}
q:after,
q:before {
    content: '';
    content: none
}
dl,
menu,
ol,
ul {
    margin: 1em 0
}
dd {
    margin: 0 0 0 40px
}
menu,
ol,
ul {
    padding: 0 0 0 40px
}
nav ol,
nav ul {
    list-style: none;
    list-style-image: none
}
img {
    -ms-interpolation-mode: bicubic
}
form {
    margin: 0
}
legend {
    white-space: normal;
    *margin-left: -7px
}
button,
input,
select,
textarea {
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    *overflow: visible
}
input[type=checkbox],
input[type=radio] {
    *height: 13px;
    *width: 13px
}
textarea {
    vertical-align: top
}

/**** font-style ****/
* {
	font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	
}
/**** header css  start **/
.logo-image{
	    height: 72px !important;
    margin: 2% 0px;
}
header.header.transp.sticky {
    position: fixed;
}
.header.transp {
    position: absolute;
    top: 0;
    z-index: 999;
}
.header {
    width: 100%;
}
.header.transp .navbar-inverse, .header.transp .mg-search-box {
    background-color: rgba(34, 34, 34, 0.83);
	   /*  border-bottom: 3px solid #ffd400; */
}
.header .navbar-default, .header .navbar-inverse {
    text-align: right;
}
.navbar-inverse {
    background-color: black;
    color: #fff;
    border-width: 0;
    border-radius: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.navbar {
    font-family: "Montserrat", serif;
    margin-bottom: 0;
}
.navbar-toggle {
    border-radius: 1px;
    border-color: #fff !important;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 21px;
}
.navbar-brand {
    float: left;
    height: auto;
       padding: 6px 0;
    font-size: 41px;
    line-height: 20px;
    margin-left: 0 !important;
	    color: #FFD400 !important ;
}
.navbar-brand span {
    margin-left: 15%;
}
button.navbar-toggle {
    margin-top: 35px;
}
.header .navbar-collapse.collapse {
    vertical-align: top;
   
}
.navbar-inverse .navbar-nav > li.active > a {
    background-color: transparent;
    box-shadow: inset 0 -3px #e7b315;
    color: #e7b315;
}
.navbar-inverse .navbar-nav > li > a {
   /*  font-size: 16px; */
	 font-size:19px;
    color: #fff;
    -webkit-transition: color 0.3s, padding 0.3s;
    transition: color 0.3s, padding 0.3s;
}
.navbar-nav > li > a {
    font-size: 16px;
    padding-top: 39px;
    padding-bottom: 38px;
    padding-left: 20px;
    padding-right: 20px;
}
.mg-search-box-cont {
    margin: 26px 20px;
    position: relative;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s;
}
.navbar-inverse {
    text-align: right;
}
.navbar-inverse {
    color: #fff;
}
.mg-search-box-trigger {
    padding: 11px 0;
    text-align: center;
    width: 85px;
    cursor: pointer;
    display: block;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.header.transp .navbar-inverse, .header.transp .mg-search-box {
    background-color:rgba(0, 0, 0, 0.73));
}
.mg-search-box {
    min-width: 270px;
    position: absolute;
    bottom: -84px;
    right: 0;
    padding: 10px;
    background-color: rgba(22, 38, 46, 0.95);
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}
.mg-search-box.mg-sb-active {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.mg-search-box input {
    display: inline-block;
    width: 80%;
    float: left;
    border-radius: 1px 0 0 1px;
    margin-bottom: 0;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    border-right-width: 0;
}
.form-control {
    border-radius: 1px;
   
    border-color: #ced4d7;
    padding: 8px 12px;
    height: auto;
    box-shadow: none;
    color: #4b565b;
}
.mg-search-box button {
    padding: 9px 25px;
    width: 20%;
    float: left;
    border-radius: 0 1px 1px 0;
    text-indent: -2px;
}
.btn-main {
    color: #FFF;
    background-color: #e7b315;
    border-color: #e7b315;
}
.btn {
    font-family: "Playfair Display", serif;
    border-radius: 1px;
    font-weight: 600;
    border-width: 0;
    padding: 8px 25px;
    -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -3px #e7b315;
    color: #e7b315;
}
/*** section 1  css start ***/
.site-wrapper, .site-wrapper-2, .site-wrapper-3, .site-wrapper-5, .site-wrapper-6 {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    z-index: 99;
    position: relative;
    overflow: hidden;
    background-color: #1b1f23;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0% 0 2%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper-8 {
    background: url(../images/cover0.jpg);
}
.site-wrapper {
    background: url(../images/cover2.jpg);
}
.parallax {
    background-attachment: fixed !important;
}

.site-wrapper .overlay {
    z-index: 0;
}
/*.overlay {
    background: rgba(0, 0, 0, 0.4);
}*/
.overlay, .overlay-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
cover-container {
    margin-left: auto;
    margin-right: auto;
}
.cover-container {
    padding-top: 95px;
}
.masthead, .mastfoot, .cover-container {
    width: 100%;
}
/*.mastfoot, .cover-container {
    max-width: 800px;
}*/
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.cover {
    padding: 0 10px;
}

.mg-page-title {
    padding-top: 0px;
    /* padding-bottom: 215px; */
    background-image: url(../images/page-title.png);
    color: #fff;
    text-align: center;
}
.parallax {
    background-attachment: fixed !important;
}
.mg-page-title h2 {
    font-family: "Montserrat", serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 35px;
    margin-top: 0;
    font-size: 45px;
}
.mg-page-title h2:after {
    content: '';
    width: 110px;
    height: 3px;
    background-color: #e7b315;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -55px;
}
p {
    margin-bottom: 23px;
}
.w-hero-copy h1 {
    margin-top: 0;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em;
    font-size: 3em;
    padding-bottom: 3%;
}
/* .sans-serif {
    font-family: Montserrat,sans-serif;
} */
.w-hero-copy h1 strong {
    color: #ffd400;
}
.w-hero-copy {
    position: relative;
    z-index: 2;
    width: 100%;
    color: #f5f5f5;
	    margin: 0;
}
.w-hero-search {
    margin: 30px auto 0;
    width: 50%;
}
.w-hero-search-form {
    margin: 0;
    border: 5px solid #ffd400;
    padding: 10px;
    background: rgba(0,0,0,.7);
}
.w-hero-search-form {
    position: relative;
}
.w-hero-search-form .form-control {
    background: 0 0;
    border: none;
    color: #ffd400;
    text-transform: uppercase;
    position: relative;
    z-index: 4;
    font-weight: 700;
    padding-left: 15px;
}
.w-hero-search-form .w-hero-placeholder {
    color: #ffd400;
    position: absolute;
    z-index: 1;
    top: 0;
    padding-left: 20px;
    padding-top: 20px;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
.w-hero-search-form label {
    color: #ffd400;
    font-size: 2em;
    position: absolute;
       right: 2%;
    top: 18%;
    display: block;
    cursor: pointer;
}
.w-hero .fa-spin {
    display: none;
}
#home-search:focus .w-hero-placeholder {
    display: none;
}

.w-hero-footer .w-hero-discover {
    display: block;
    width: 20%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
	    margin-top: 12%;
}
.w-hero-footer a {
    color: #f5f5f5;
}
.w-hero-footer .w-hero-discover i {
    display: block;
    font-size: 2em;
    -webkit-transition: transform .25s ease-out;
    -moz-transition: transform .25s ease-out;
    -ms-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
}
.w-hero-search-form .form-control:focus {
    box-shadow: none;
}
.w-hero-search-copy {
    text-align: right;
    
    padding-right: 25px;
    padding-top: 10px;
    width: 100%;
    font-size: 16px;
    z-index: 4;
}

.w-hero-search-copy a {
    text-decoration: underline;
    color: #ffd400;
}

/** overlay in video **/
.overlay:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-size: auto;
    background-image: url(../images/pattern-bg-2.png);
}
.overlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34,34,34, .3);
}

 /** SECTION-2 BLOG CSS START ***/
 section#blog-section{
	 -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	 }
.blog-padding {
    padding: 5% 0 0%;
}

.wow {
    margin-bottom: 5%;
}
.mb-70 {
    margin-bottom: 70px;
}
a.section-more.right {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    float: right;
	    margin-top: 10px;
}
a.section-more.right:hover {
       color:  #e7b315;
}
.post-prev-img {
    margin-bottom: 23px;
    position: relative;
}
.post-prev-img a img{
    -webkit-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-img a:hover img {
    opacity: .85;
}
.post-prev-img img {
    width: 100%;
}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}
.post-prev-title {
    margin-bottom: 6px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.post-prev-title a {
    color: #777;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.6;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-info, .post-prev-info a {
       font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 15px;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #FFD400;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.post-prev-text {
    margin-bottom: 22px;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}
.btn-mod.btn-round, .wpcf7-form-control.wpcf7-submit {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.btn-mod.btn-gray {
    color: #777;
    background: #e5e5e5;
}
a.btn.btn-sm.btn-blog.btn-round {
    padding: 1% 2%;
    font-weight: 200;
    border: 1px solid #222;
    font-size: 12px;
}
a.btn.btn-sm.btn-blog.btn-round:hover {
    border-color: #ffd400;
}
/*** SECTION-2 BLOG CSS END **/



/** SECTION-3 INTRO CSS START **/

section.intro-section {
    position: relative;
}
section.intro-section .inner-text {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 25% 0;
    color: #ffd400;
    }
section.intro-section .inner-text h1 {
    font-size: 59px;
    letter-spacing: 0.3em;
    line-height: 73px;
}
/** SECTION-3 INTRO CSS END **/

/** SECTION-4 MAP CSS START **/
section.map-section .col-md-12 {
    background: #000000;
}
.map-text {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-left: 20%;
   
    padding: 22% 0 10%;
}
.map-text .main-text {
    font-size: 57px;
    letter-spacing: -0.01em;
    font-weight: bold;
    transform: scaleY(1.4);
    line-height: 0.9;
    color: white;
}
span.side-text {
    font-size: 57px;
    letter-spacing: 0.01em;
    font-weight: 100;
    color: white;
    transform: rotate(270deg);
    float: left;
    text-transform: uppercase;
    position: absolute;
    left: -67%;
    top: 50%;
}
/** SECTION-4 MAP CSS END **/

/** SECTION-5 CONTACT FORM css START **/

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.stack-subscribe {
    background: #eaeaea;
    padding: 100px 0 50px;
    /*margin: 0 20px;*/
}
.stack-subscribe .stack-copy {
    text-align: center;
    max-width: 470px;
    padding: 0 20px;
    margin: auto;
}
.stack-subscribe .stack-copy h1 {
    font-size: 3em;
}
.stack-copy h1 {
    font-size: 700%;
    font-weight: 700;
}
/* .serif {
    font-family: Georgia,Times,"Times New Roman",serif;
} */
.stack-subscribe .stack-body {
    max-width: 670px;
    padding: 20px;
    margin: 40px auto 0;
}
.stack-subscribe .form-col {
    float: left;
    width: 50%;
    padding-right: 5%;
}

.form-control {
   /*  font-family: Montserrat,sans-serif; */
    border-width: 0 0 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #222;
    box-shadow: none;
    padding-left: 0;
    color: #222;
    background: 0 0;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
   
}

.btn {
    font-weight: 700;
    border: 5px solid #222;
    color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 14px 40px;
   /*  font-family: Montserrat,sans-serif; */
}
.btn-long {
    padding-left: 100px;
    padding-right: 100px;
}
.stack-subscribe .stack-body .form-control:focus {
    box-shadow: none;
    border-color: #ffd400;
	  /*  border-bottom-width: 3px;*/
}
.stack-subscribe .form-buttons {
    margin-top: 60px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.stack-subscribe .form-buttons .btn {
    background: 0 0;
}
.btn.active, .btn:active, .btn:hover {
    background: #ffd400 !important;
    border-color: #ffd400;
    box-shadow: none;
}

/***  SECTION-5 CONTACT FORM css END **/

/***  SECTION-6 FOOTER CSS START **/

.mg-footer-widget {
    background-color: black;
    padding: 70px 0 20px;
    color: #c0c8cb;
	float: left;
    width: 100%;
}
.mg-footer-widget .widget {
    margin-bottom: 50px;
}
.mg-footer-widget .mg-widget-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 25px;
}
.mg-sec-left-title, .mg-widget-title {
       color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 35px;
    padding-bottom: 15px;
    position: relative;
}
mg-footer-widget .mg-widget-title:after {
    width: 50px;
    background-color: #e7b315;
}
.mg-sec-left-title:after, .mg-widget-title:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: #e7b315;
    position: absolute;
    bottom: 0;
    left: 0;
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
.mg-footer-widget a {
    color: #fff;
}
.mg-footer-widget .widget:after {
    clear: both;
}
.mg-footer-widget .widget:before, .mg-footer-widget .widget:after {
    content: " ";
    display: table;
}
.mg-instagram {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mg-instagram > li {
    float: left;
    width: 33.33333333%;
}
.mg-footer-widget .mg-instagram a {
    display: block;
    position: relative;
}
.mg-footer-widget .mg-instagram a:before {
    font-family: 'FontAwesome';
    content: '\f16d';
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    color: #fff;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
}
.mg-footer-widget .mg-instagram a:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
}
.mg-footer-widget .mg-instagram a img {
    width: 100%;
}
.mg-footer-widget .mg-instagram a:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
mg-footer-widget .form-control {
    height: auto;
    padding: 8px 12px;
    border-radius: 1px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-main {
    color: #FFF;
    background-color: transparent;
    border-color: #e7b315;
    padding: 3% 8%;
    border-width: 3px;
}
.mg-footer-widget .form-control:focus {
    color: #fff;
    border-color: #e7b315;
    box-shadow: none;
}
.mg-footer-widget a:hover {
    color: #e7b315;
}
.mg-footer-social {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mg-footer-social > li {
    display: inline-block;
    margin-right: 3px;
}
.mg-footer-social > li > a {
    display: block;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.mg-footer-social > li > a:hover {
    background-color: #e7b315;
    color: #fff;
}
.mg-footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mg-footer-nav > li {
    float: left;
    margin-right: 20px;
}
.mg-copyright a {
    color: #96a3a9;
}
.mg-copyright p {
    margin: 0;
}
.mg-footer-widget .mg-instagram a {
    display: block;
    position: relative;
}

.mg-copyright {
    padding: 15px 0;
    color: #7a8a92;
    background-color: black;
    font-size: 13px;
    text-align: right;
}

/***  SECTION-6 FOOTER CSS END **/

/******************************************  NEIGHBOURHOOD PAGE CSS START   *********************/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


/*************  NEIGHBOURHOOD CONTENT CSS START   *********************/
div#content {
    margin-top: 7%;
}

#srh .w-quest {
    position: relative;
    z-index: 2;
}
.w-quest {
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
}
.w-quest-controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #eaeaea;
}
.w-quest-control-query {
    width: 360px;
    padding-left: 10px;
    position: relative;
}

.w-quest-control {
    display: block;
    float: left;
    padding: 5px 0 0;
}
.w-quest-control-query {
    width: 360px;
    padding-left: 10px;
    position: relative;
}
.w-quest-control-dropdown {
    margin-left: 20px;
    position: relative;
}
.w-quest-control-dropdown.active>a {
    border-bottom: 2px solid #222;
    color: #222;
}
.w-quest-control-submit {
    float: right;
    padding: 0;
}
.w-quest-control-query input {
    border-color: #666;
    font-weight: 700;
    text-transform: uppercase;
}
.w-quest-control-query label {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10px;
    color: #666;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.w-quest-control-dropdown>a {
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    padding: 5px 0;
    height: 34px;
    display: block;
}
.w-quest-control-neighborhoods .w-quest-control-dropdown-menu {
        width: 360px;
    border: none;
    box-shadow: none;
    margin: 0;
}
.w-quest-control-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eaeaea;
    padding: 20px;
}
.w-quest-control-dropdown.active .w-quest-control-dropdown-menu {
    display: block;
}
.w-quest-control-dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.w-quest-control-dropdown-menu ul li {
    white-space: nowrap;
}
.w-quest-control-neighborhoods li {
    display: block;
    float: left;
    width: 50%;
}
.w-quest-control-dropdown-menu input[type=checkbox] {
    display: none;
}
.w-quest-control-dropdown-menu input[type=checkbox]:checked+.fa-minus, .w-quest-control-dropdown-menu input[type=checkbox]~.fa-check {
    display: none;
}
.w-quest-control-dropdown-menu input[type=checkbox]~.fa {
    padding-right: 5px;
    font-size: .8em;
}
w-quest-control-dropdown-menu input[type=checkbox]:checked~.fa-check {
    display: inline-block;
}
.fa-check:before {
    content: "\f00c";
}
.w-quest-control-dropdown-menu input:checked~label {
    font-weight: 700;
}
.w-quest-control-dropdown-menu label {
    font-weight: 400;
    cursor: pointer;
}
.fa-minus:before {
    content: "\f068";
}




.w-quest-control-price .w-quest-control-dropdown-menu {
       width: 450px;
    left: -63px;
    padding: 10px;
    border: 0;
    box-shadow: none;
    margin: 0;
}
.w-quest-control-dropdown.active .w-quest-control-dropdown-menu {
    display: block;
}
.w-range-slider-controls {
    position: relative;
    height: 10px;
    padding-right: 10px;
}
.hide {
    display: none!important;
}
.w-range-slider-controls .ui-slider {
    height: 2px;
    background: #ffd400;
    top: 4px;
    position: relative;
}
.w-range-slider-controls .ui-slider-range {
    position: absolute;
    height: 2px;
    background: #222;
}
.w-range-slider-controls .ui-slider-handle {
    display: block;
    position: absolute;
    background: #222;
    width: 10px;
    height: 10px;
    top: -4px;
}

.w-quest-control-dropdown.active .w-quest-control-dropdown-menu {
    display: block;
}
.w-quest-control-types .w-quest-control-dropdown-menu {
    width: 330px;
    left: auto;
    right: 0;
    border: none;
    box-shadow: none;
    margin: 0;
}
.w-quest-control-types li {
    display: block;
    float: left;
    width: 33%;
}


.w-quest-control-submit {
    float: right;
    padding: 0;
}
.w-quest-control-submit .btn {
    background: #222;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 5px 20px;
    display: block;
}


/****** BUILDING LISING CSS START **/

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#building-list .col-md-3 {
    padding: 0;
}
.w-building {
    position: relative;
    margin: 20px;
}
.w-grid {
    margin: auto;
    max-width: 1600px;
}
.w-grid-items {
    margin: 0 20px;
}
.w-building-image-wrapper {
    position: relative;
    z-index: 1;
    margin-right: 30px;
    overflow: hidden;
    background: #333 center center url(../i/l/logo.png) no-repeat;
}
.w-building-image-grid {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.w-building-image.loaded {
    visibility: visible;
}
.w-building-image {
    position: absolute;
    z-index: 2;
    top: 0;
    visibility: hidden;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}
.w-building:hover .w-building-image {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
.w-building-image {
    position: absolute;
   /*  width: 321px; */
    height: 424px;
    top: 0px;
   /*  left: -1px; */
}
.w-building-info {
    position: absolute;
    right: 0;
    width: 80%;
    bottom: 30px;
    background: #ffd400;
    z-index: 2;
    padding: 20px;
}
.w-building .w-building-info h1 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}
.w-building-info-details {
    display: none;
}
.w-building-info:hover .w-building-info-details {
    display: block;
}

.w-building .w-building-info h4 {
    font-size: 1em;
    font-weight: 700;
}
.w-building-info-details a {
    color: #222;
    text-decoration: underline;
}
/****** BUILDING LISING CSS END **/

.mar-2x-t {
    margin-top: 20px;
}

/***** PAGINATION CSS START **/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 3%;
    border-radius: 4px;
}
.pagination>.hidden {
    display: inline!important;
    visibility: visible!important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>.hidden>a, .pagination>.hidden>a:focus, .pagination>.hidden>a:hover, .pagination>.hidden>span, .pagination>.hidden>span:focus, .pagination>.hidden>span:hover {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-cr>.hidden>a, .pagination-cr>.hidden>a:focus, .pagination-cr>.hidden>a:hover, .pagination-cr>.hidden>span, .pagination-cr>.hidden>span:focus, .pagination-cr>.hidden>span:hover {
    border-color: #fff;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination-cr>li>a, .pagination-cr>li>span {
    border-radius: 0!important;
    border-color: #fff;
    color: #222;
}

.pagination>li {
    display: inline;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.pagination-cr>.selected>a, .pagination-cr>.selected>a:focus, .pagination-cr>.selected>a:hover, .pagination-cr>.selected>span, .pagination-cr>.selected>span:focus, .pagination-cr>.selected>span:hover {
    z-index: 2;
    background-color: #222;
    border-color: #fff;
    cursor: default;
	    color: #fff;
}
.pagination-cr>li>a:focus, .pagination-cr>li>a:hover, .pagination-cr>li>span:focus, .pagination-cr>li>span:hover {
    color: #222;
    background-color: #ffd400;
    border-color: #fff;
}
/***** PAGINATION CSS END **/

/*** BACK TO TOP CSS ***/

 .back-to-top {
    background: #fff;
    text-align: center;
    padding: 40px 0;
}
 .back-to-top a {
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    width: 200px;
    margin: auto;
    display: block;
}
 .back-to-top a .fa {
    display: block;
    font-size: 2em;
    -webkit-transition: transform .25s ease-out;
    -moz-transition: transform .25s ease-out;
    -ms-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
}
.back-to-top a:hover i {
    -webkit-transform: translate3d(0,-.5em,0);
    -moz-transform: translate3d(0,-.5em,0);
    -ms-transform: translate3d(0,-.5em,0);
    transform: translate3d(0,-.5em,0);
}
 .back-to-top a {
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    width: 200px;
    margin: auto;
    display: block;
}
/******************************************  NEIGHBOURHOOD PAGE CSS START   *********************/


/************* menu  start***********/



nav {
    display: block;
  /*   margin-top: 100px; */
    background: #374147;
}

.menu {
    display: block;
	    margin: 0;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
       text-decoration: none;
    padding: 34px 15px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a.active {
    background: rgb(51, 51, 51);
    border-bottom: 3px solid #ffd400;
    color: #FFD400;
}

.menu li a:hover, .menu li:hover>a {
    color: #FFD400;
    background: rgba(51, 51, 51, 0.58);
	    border-bottom: 3px solid #FFD400;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
        margin-top: 3px;
    padding: 0;
    width: 150px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
	    text-align: left;
}
.menu ul li a {
    padding: 11px;
}
.menu ul.sub-menu {
    background: black;
}
.menu ul.sub-menu li a {
    background: #000000;
}
.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #000;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: rgba(255, 255, 255, 0.81);
    background: #fff;
}

.menu ul li a:hover, .menu ul li:hover>a {
    background: #000000;
    color: #ffd400;
    border: none;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 149px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFD400;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    /* width: 100%; */
    padding: 20px 15px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
	    margin-top: 3%;
}

.responsive-menu:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
}


@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #374147;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }
	
    .menu {
        display: none;
		    padding: 0;
    }

    .responsive-menu {
           float: right;
    /* margin-top: 100px; */
    display: block;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
            background: #fff;
    color: #797979;
    text-align: left;
    padding: 20px 26px;
    }

    .menu li a:hover,.menu li:hover>a {
            color: #FFD400;
    background: rgb(51, 51, 51);
    border-bottom: 4px solid #FFD400;
    }
	.menu ul li a:hover, .menu ul li:hover>a {
    background: #ffd400;
    color: #000000;
    border: none;
}
    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}



/**** slider in search **/
.slider-handle {
    background: black;
    border-radius: 0 !important;
        height: 12px;
    width: 12px;
}

.slider-track, .slider-track-low, .slider-track-high,  .slider-selection {
    background: black;
    height: 3px !important;
	background-image:none;
}
.slider.slider-horizontal {
    width: 100%;
	    margin-top: 4%;

}
.w-range-slider-label {
    font-weight: 700;
    font-size: 1.2em;
    padding: 0 0 10px;
}






/**************** menu end *****************/



/*** FOR RESPONSIVE DESIGN CSS START ***/


@media (max-width:1688px){
	.map-text .main-text {
		font-size: 41px;
    }
	span.side-text {
        font-size: 44px;
        left: -59%;
   }
}

@media (max-width:1496px){
	div#content {
		margin-top: 9%;
	}
	.map-text .main-text {
		font-size: 41px;
    }
	span.side-text {
        font-size: 44px;
        left: -65%;
   }
}
@media (max-width:1318px){
	div#content {
		margin-top: 11%;
	}
	.map-text .main-text {
		font-size: 41px;
    }
	span.side-text {
        font-size: 44px;
        left: -73%;
   }
}
@media (max-width:1105px){
	div#content {
		margin-top: 11%;
	}
	.map-text .main-text {
		font-size: 34px;
    }
	span.side-text {
        font-size: 44px;
        left: -88%;
   }
}
@media (max-width:1024px){
	
	.map-text .main-text {
		font-size: 32px;
    }
	span.side-text {
         font-size: 37px;
    left: -82%;

   }
}
@media (max-width:767px){
	div#content {
			margin-top: 15%;
		}
}

@media (max-width:750px){
	.navbar-nav > li > a {
		padding: 2%;
		text-align: center;
	}
	.header.transp .navbar-inverse, .header.transp .mg-search-box {
		background-color: rgba(0, 0, 0, 0.77);
	}
	.widget.contact-section {
		text-align: center;
	}
	.mg-sec-left-title:after, .mg-widget-title:after {
		left: 0;
		margin: 0 auto;
		 right: 0;
		text-align: center;
	}
	.mg-footer-widget .mg-widget-title {
		text-align: center;
	}
	.widget.newsletter-section form.newsletter {
		text-align: center;
	}
	
}
@media (max-width: 635px){
	div#content {
		margin-top: 20%;
	}
	.w-building-info {
        padding: 8px;
	}
}
@media (max-width: 452px){
	div#content {
		margin-top: 30%;
	}
	
}